@using SciFiReviews.Models.DataModels
@model IEnumerable<Review>

@{
    ViewData["Title"] = "All Reviews";
}

<div class="row">
    <h1 class="col-md-4">All Reviews</h1>
    <div class="col-md-4" style="margin-top:25px;">
        <label>Sort By:</label>
        <button type="button" class="btn btn-default btn-sm" value="time_asc" onclick="sortReviewsBy(this)">Time</button>
        <button type="button" class="btn btn-default btn-sm" value="rating_desc" onclick="sortReviewsBy(this)">Rating</button>
        <button type="button" class="btn btn-default btn-sm" value="movie_asc" onclick="sortReviewsBy(this)">Movie</button>
        <button type="button" class="btn btn-default btn-sm" value="reviewer_asc" onclick="sortReviewsBy(this)">Reviewer</button>
    </div>
    <div class="col-md-4" style="margin-top:25px;">
        <div id="reviewsFilter" style="float:right;" target="#listOfReviews">
            <form asp-action="Reviews" method="get" id="reviewsFilter" moviegenre="@ViewBag.MovieGenre">
                <label>Genre:</label>
                <select id="reviewsFilterSelect" name="movieGenre" onchange="$(this).closest('form').submit();" class="btn btn-default btn-sm">
                    <option value="">All Genres</option>

                    @foreach (var genre in ViewBag.MovieGenres.Genres)
                    {
                        if (genre == ViewBag.MovieGenres.CurrentGenre)
                        {
                            <option selected value="@genre">@genre</option>
                        }
                        else
                        {
                            <option value="@genre">@genre</option>
                        }
                    }
                </select>
            </form>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div>
        <partial name="_Reviews" />
    </div>

    <div id="reviewsPager" class="custom-pager"
         action="Reviews/ReviewsAjax"
         target="#listOfReviews"
         metadata="@ViewBag.PaginationMetadata">
        <button type="submit" class="btn btn-default btn-previous" onclick="previousPage('#reviewsPager')">
            Prev
        </button>
        <span>@ViewBag.PaginationMetadata.currentPage / @ViewBag.PaginationMetadata.totalPages</span>
        <button type="submit" class="btn btn-default btn-next" onclick="nextPage('#reviewsPager')">
            Next
        </button>
    </div>
</div>

