@model SciFiReviews.Models.DataModels.Movie

<div class="row">
    <h1>Movie Details</h1>

    <div class="well well-lg">
        <h3>@Model.Title (@Model.ReleaseYear)</h3>

        <div>Director: @Model.Author</div>
        <div>
            Average Rating:

            <div class="hidden movie-rating" data-target="#rating_@Model.Id">@Model.AverageRating</div>

            <div class="ratings-outer">
                <i class="fas fa-crow"></i>
                <i class="fas fa-crow"></i>
                <i class="fas fa-crow"></i>
                <i class="fas fa-crow"></i>
                <i class="fas fa-crow"></i>
                <div id="rating_@Model.Id" class="ratings-inner">
                    <i class="fas fa-crow"></i>
                    <i class="fas fa-crow"></i>
                    <i class="fas fa-crow"></i>
                    <i class="fas fa-crow"></i>
                    <i class="fas fa-crow"></i>
                </div>
            </div>
        </div>
    </div>

    <br />

    <button type="reset" class="btn btn-default" onclick="history.back()">Go Back</button>
</div>

<div class="row">
    <h3>Latest Reviews</h3>

    @if (Model.MovieReviews.Count() > 0)
    {
        foreach (var review in Model.MovieReviews)
        {
            <a asp-controller="Reviews" asp-action="Review/@review.Id">
                <div class="well well-lg">
                    <div class="col-md-3"><strong>@review.Title</strong></div>
                    <div class="col-md-3">Movie: @review.Movie.Title (@review.Movie.ReleaseYear)</div>
                    <div class="col-md-2">Time: @review.SubmitTime.ToShortDateString()</div>
                    <div class="col-md-2">By: @review.Reviewer.Username</div>

                    <div class="col-md-2">
                        <div class="hidden movie-rating" data-target="#rating_@review.Id">@review.Rating</div>

                        <div class="ratings-outer">
                            <i class="fas fa-crow"></i>
                            <i class="fas fa-crow"></i>
                            <i class="fas fa-crow"></i>
                            <i class="fas fa-crow"></i>
                            <i class="fas fa-crow"></i>
                            <div id="rating_@review.Id" class="ratings-inner">
                                <i class="fas fa-crow"></i>
                                <i class="fas fa-crow"></i>
                                <i class="fas fa-crow"></i>
                                <i class="fas fa-crow"></i>
                                <i class="fas fa-crow"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        }
    }
</div>